fastapi
uvicorn
yt-dlp
youtube-transcript-api
python-multipart
jinja2
google-genai
openai
python-docx
reportlab
python-dotenv
scenedetect
opencv-python
ultralytics
pytesseract
Pillow
surya-ocr
sentence-transformers
numpy
faiss-cpu
faster-whisper
dill
pyannote.audio